body {
    margin: 0;
    font-family: sans-serif;
}

.layout {
    width: 100%;
    margin: auto;

    display: grid;
    grid-template-areas:
        "header"
        "menu"
        "content";
}

.page-header {
    height: 200px;

    background: orangered;
    color: #fff;

    grid-area: header;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu {
    width: 100%;
    background: lightgrey;

    grid-area: menu;

    ul {
        list-style: none;

        li {
            padding: 5px;
        }
    }
}

.main-content {
    margin: 3rem;

    grid-area: content;
}

@media (min-width: 768px) {
    .layout {
        grid-template-areas:
            "header header"
            "content menu";
    }

    .page-header {
        grid-area: header;
    }

    .main-menu {
        grid-area: menu;
    }

    .main-content {
        grid-area: content;
    }
}
